<style>
    * {
        margin: 0px;
        padding: 0px;
    }

    body {
        margin: 3px;
        padding: 0px;
        width: 320px;
    }

    .bordeBottom {
        border-bottom: 2px solid gray;
    }

    .bordeTop {
        border-top: 2px solid gray;
    }

    .bold {
        font-weight: bold;
    }

    .txtRigth {
        text-align: right;
    }

    .txtLeft {
        text-align: left;
    }

    .Texto {
        margin: 1px 0px;
        font-size: 10px;
        font-family: 'Arial Arabic Bold', Tahoma;
        padding: 0px;
    }

    .centrarTexto {
        width: 320px;
        text-align: center;
        padding-bottom: 10px;
    }

    .tablaDatos {
        width: 320px;
        margin-top: 7px;
    }
</style>
<div class='centrarTexto'>
    <p class='Texto bold'>CONCESIONARIA VIAL DEL SOL S.A.</p>
    <p class='Texto bold'>Estación de Peaje Sullana</p2px>
    <p class='Texto'>Km 1018+710 Panamericana Norte,Sullana</p0px>
    <p class='Texto'>CAL. HUAURA 198 &nbsp; CHICLAYO &nbsp; CHICLAYO &nbsp; LAMBAYEQUE</p>
    <p class='Texto'>2022-12-05 &nbsp; 07:56:54 &nbsp; R.U.C.:20522547957</p>
    <p class='Texto bold' style='margin-top: 5px;'>*** BOLETA DE VENTA ELECTRÓNICA ***</p>
    <p class='Texto bold'>B989 N&deg; 0000000X</p>
</div>
<table class="tablaDatos" style="margin-bottom: 5px;">
    <thead>
        <th style="width: 80px"></th>
        <th></th>
    </thead>
    <tbody>
        <tr>
            <td class="Texto ">R.U.C.</td>
            <td class="Texto txtLeft">:&nbsp;-</td>
        </tr>
        <tr>
            <td class="Texto ">Raz&oacute;n Social</td>
            <td class="Texto txtLeft">:&nbsp;VARIOS</td>
        </tr>
        <tr>
            <td class="Texto ">Forma de pago</td>
            <td class="Texto txtLeft">:&nbsp;Contado</td>
        </tr>
    </tbody>
</table>
<table class='tablaDatos bordeBottom bordeTop' style='margin-top:1px; margin-bottom:10px;'>
    <thead>
        <th style='width: 160px'></th>
        <th style='width: 160px'></th>
    </thead>
    <tbody>
        <tr>
            <td class='Texto' style="padding-top: 3px; padding-bottom: 3px">LIVIANO</td>
            <td class='Texto txtRigth' style="padding-top: 3px; padding-bottom: 3px">8.22</td>
        </tr>
    </tbody>
</table>
<table class='tablaDatos' style='margin-top:1px; margin-bottom:10px;'>
    <thead>
        <th style='width: 50%'></th>
        <th style='width: 25%'></th>
        <th style='width: 25%'></th>
    </thead>
    <tbody>
        <tr>
            <td class='Texto bold'>SUB-TOTAL</td>
            <td class='Texto txtRigth'>S/.</td>
            <td class='Texto txtRigth'>8.22</td>
        </tr>
        <tr>
            <td class='Texto bold'>IGV 18%</td>
            <td class='Texto txtRigth'>S/.</td>
            <td class='Texto txtRigth'>1.48</td>
        </tr>
        <th style='height: 7px;'></th>
        <tr>
            <td class='Texto bold'>TOTAL</td>
            <td class='Texto txtRigth'>S/.</td>
            <td class='Texto txtRigth'>9.70</td>
        </tr>
    </tbody>
</table>
<table class='tablaDatos'>
    <thead>
        <th style='width: 50px'></th>
        <th></th>
    </thead>
    <tbody>
        <tr>
            <td class='Texto '>SON</td>
            <td class='Texto'>:&nbsp;NUEVE Y 70/100 SOLES</td>
        </tr>
        <tr>
            <td class='Texto '>CAJERO/A</td>
            <td class='Texto'>:&nbsp;YANAYACO BECERRA, Segundo Raul</td>
        </tr>
        <tr>
            <td class='Texto '>PLACA</td>
            <td class='Texto '>:&nbsp;P3D537</td>
        </tr>
    </tbody>
</table>
<div class='centrarTexto' style='padding-top: 20px;'>
    <p class='Texto'>Tlfs. Estaciones de Peaje</p>
    <p class='Texto' style='width: 200px; margin: auto;'>Chicama 989596481/Pacanguilla 989595182/Morrope
        989595183/Bayovar 985719374/Sullana 989595185</p>
</div>
<div class='centrarTexto'>
    <p class='Texto'>* CENTRAL DE EMERGENCIAS *</p>
    <p class='Texto'> RPM: #985728000 / RPC: 950259000</p>
</div>
<div style='text-align: center;'>
    <img src='C:\Users\carlo\Desktop\Peaje_JK\peajeWebApp\peajeWebApp\Template\QR\QR.png' style='height: 200px;'
        id='p1img1' align='center' />
</div>
<div style='width: 320px;'>
    <p class='Texto'>Representación impresa de BOLETA DE VENTA ELECTRÓNICA, consulte en www.sunat.gob.pe</p>
    <p class='Texto' style='margin:4px 0px;'>Autorizado mediante Resolución N° 034-005-0004782/SUNAT</p>
    <p class='Texto'>Obtenga copia de su documento en www.acepta.pe</p>
</div>