<table class="tablaDatos" style="margin-bottom: 5px;">
    <thead>
        <th style="width: 80px"></th>
        <th></th>
    </thead>
    <tbody>
        <tr>
            <td class="Texto ">R.U.C.</td>
            <td class="Texto txtLeft">:&nbsp;[NUMERODOCUMENTOADQUIRIENTE]</td>
        </tr>
        <tr>
            <td class="Texto ">Raz&oacute;n Social</td>
            <td class="Texto txtLeft">:&nbsp;[RAZONSOCIALADQUIRIENTE]</td>
        </tr>
        <tr>
            <td class="Texto ">Forma de pago</td>
            <td class="Texto txtLeft">:&nbsp;[FORMAPAGO]</td>
        </tr>
    </tbody>
</table>